.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #4a90e2;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title {
  -webkit-text-stroke: 3px #000;
  text-shadow: 5px 5px 0 #000;
  font-family: "Bungee";
  color: #4a90e2;
  font-size: 5rem;
  text-transform: uppercase;

}
